@page "/Curriculo"

<title>curriculo</title>
<div id="container-user">
    <img id="img-user" src="images/linux.png">
    <div id="apresentation">
        <h1><a href="https://youtu.be/YVkUvmDQ3HY?si=cSc3TDN2-7bB22jk" style="color:white" target="_blank">LUCAS
                HUBNER</a></h1>
        <p>USUÁRIO DE LINUX</p>
    </div>
    <img id="pinguin" src="images/pinguin.png" alt="">
</div>
<div id="titulo-projeto">
    <h1 id="project">MINI-PROJETOS</h1>
</div>
<main>
    <div class="container">
        <div id="project1" class="container-project">
            <a class="btn-site" href="https://lucasgoodprogrammer.github.io/GERADOR-DE-QR-CODE/"
                target="_blank">ACESSAR</a>
        </div>
        <input class="info" type="text" value="HTML">
        <input class="info" type="text" value="CSS">
        <input class="info" type="text" value="JS">
    </div>
    <div class="container">
        <div id="project2" class="container-project">
            <a class="btn-site" href="https://lucasgoodprogrammer.github.io/IPHONE-13-PRO/" target="_blank">ACESSAR</a>
        </div>
        <input class="info" type="text" value="HTML">
        <input class="info" type="text" value="CSS">
        <input class="info" type="text" value="JS">
    </div>
    <div class="container">
        <div id="project3" class="container-project">
            <a class="btn-site" href="https://lucasgoodprogrammer.github.io/CALCULADORA-MELHOR/" target="_blank">ACESSAR</a>
        </div>
        <input class="info" type="text" value="HTML">
        <input class="info" type="text" value="CSS">
        <input class="info" type="text" value="JS">
    </div>
</main>
<div id="info">
    <h2 style="font-size: 6em;">MINHAS SKILLS</h2>
    <section class="container-info" id="skills">
        <div class="skill">
            <abbr title="LINGUAGEM DE MARCAÇÃO DE HIPER TEXTO"><img src="images/html.png"></abbr>
        </div>
        <div class="skill">
            <abbr title="FOLHA DE ESTILO EM CASCATA"><img src="images/css.png"></abbr>
        </div>
        <div class="skill">
            <abbr title="JAVA SCRIPT"><img src="images/java_script.png"></abbr>
        </div>
        <div class="skill">
            <abbr title="FRAMEWORK REACT, VOLTADO PARA APLICAÇÕES WEB"><img src="images/react.png"></abbr>
        </div>
        <div class="skill">
            <abbr title="software de código aberto usado para execução de códigos baseado em JavaScript"><img
                    src="images/node.png"></abbr>
        </div>
        <div class="skill">
            <abbr title="C#"><img src="images/c_sharp.png"></abbr>
        </div>
    </section>
</div>
<footer id="footer">
    <h3><a href="https://youtu.be/XFkzRNyygfk?si=dNP0UK1HDLSPnZxW" target="_blank">CONTATOS</a></h3>
    <div id="contact">
        <a href="https://youtu.be/ZxVw7bvMd3s" target="_blank"><img class="icon" src="images/email.png" alt="EMAIL"></a>
        <a href="https://youtu.be/Bz4l9_bzfZM?si=6uv9t2-nOMwmepVa" target="_blank"><img class="icon"
                src="images/whatsapp.png" alt="WATSAPP"></a>
        <a href="https://youtu.be/fJ9rUzIMcZQ?si=jVrR69bzewlDOv9D" target="_blank"><img class="icon"
                src="images/github.png" alt="GITHUB"></a>
        <a href="https://youtu.be/hTWKbfoikeg" target="_blank"><img class="icon" src="images/linkedin.png"
                alt="LINKEDIN"></a>
    </div>
</footer>
