@page "/Sobre"

<title>sobre</title>

<main>
    <div id="descricao">
        <img src="images/perfil.jpeg" alt="">
        <p>Sou um desenvolvedor front-end autodidata, apaixonado por criar experiências web funcionais, acessíveis e
            visualmente atrativas. Tenho experiência prática com HTML, CSS, JavaScript e estou constantemente evoluindo
            meus conhecimentos com projetos próprios, como sistemas de entrega e web-site infantil.

            Além do desenvolvimento, tenho interesse por design responsivo, usabilidade e otimização de performance.
            Gosto de aprender na prática, resolver problemas e transformar ideias em soluções reais.

            Atualmente, busco oportunidades como freelancer ou colaborador em projetos web, onde eu possa aplicar e
            expandir minhas habilidades, contribuindo com soluções eficientes e criativas.</p>
    </div>
    <div class="container">
        <section>
            <h2>MEUS HOBS</h2>
            <ul id="list">
                <li><img src="images/game.png" alt="">GOSTO DE JOGAR</li>
                <li><img src="images/book.png" alt="">GOSTO DE LER</li>
                <li><img src="images/gym.png" alt="">FAÇO ACADEMIA</li>
                <li><img src="images/programacao.png" alt="">ESTUDO PROGRAMAÇÃO</li>
            </ul>
        </section>
    </div>
</main>
